.card {
  padding: 2rem;
  border-radius: 12px;
  background: #111;
  color: white;
  text-align: center;
}

.card h2 {
  margin-bottom: 0.5rem;
}

.card p {
  opacity: 0.8;
  margin-bottom: 1rem;
}

.downloadBtn {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  margin: 1.5rem auto;
  gap: 0.4rem;

  padding: 0.5rem 0.9rem;
  border-radius: 0.4rem;
  border: none;
  font-family: "Forum", sans-serif;

  background: rgb(93%, 93%, 100%);
  color: rgb(15, 15, 15);
  font-size: 0.85rem;
  font-weight: 600;

  cursor: pointer;
  transition:
    background 0.2s ease,
    transform 0.15s ease;
}

.downloadBtn:hover {
  background: #2563eb;
  transform: translateY(-1px);
}

.downloadBtn:active {
  transform: scale(0.97);
}
